body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #000;
    padding-top: 15vh;
}
#logo {
    font-family: 'Righteous', cursive;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0 20px;
}
#logo > a > span {
    color: #bd0000;
}
#info-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
#sm-list {
    margin-right: 20px;
}
.sm-item {
    display: inline-block;
    margin: 10px;
}
.sm-item > a > img {
    width: 4vh;
}
.content-item {
  position: relative;
  display: inline-block;
  padding: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}
.content-item::after {
  display: block;
  width: 0%;
  height: 2px;
  background-color: #bd0000;
  content: "";
  transition: all .9s;
}
.content-item:hover::after {
  width: 100%;
  transition: all .3s;
}